body {
	font-family: Arial;
	margin: 0px;
	padding: 0px;

   	text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;	
}

.button {
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
	                              not supported by any browser */		
}

.nav {
	height: 100px;
	background: white;
	font-size: 53px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-bottom: 20px;
	box-sizing: border-box;
}

.nav > * {
	width: 33.3%;
	height: 100%;
	display: inline-block;
	box-sizing: border-box;
}

.nav .center  {
	position: relative;
}

.nav i.fa {
	padding-left: 30px;
	/*padding-top: 7px;*/
	text-align: left;
	color: #00aad4;
	font-size: 80px;
}